<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center">
      <h1 class="text-primary ">About</h1>
    </div>
  </div>

  <div class="row justify-content-md-center text-center mt-3">
    <div class="col-5 mt-3 h4 border-bottom border-danger" style ="background-color:#f8f8ff">好みの漫画を見つけたい人！</div>
    <div class="col-8 mt-3"></div>
    <div class="col-8 mt-3">漫画を選ぶうえで他の読者の感想から興味を持つこともあると思います。</div>
    <div class="col-8 mt-3">ここでは、自分が好きな漫画を他の読者はどんな感想を持っているか知る事ができます。</div>
  </div>
  <div class="row justify-content-md-center text-center my-5">
    <div class="col-5 mt-3 h4 border-bottom border-danger" style ="background-color:#f8f8ff">お気に入りは本棚へ！</div>
    <div class="col-10 mt-3">気に入った漫画又は現在集めている漫画を本棚に追加することで、持っている巻数や次巻の発売日がすぐに確認できます。</div>
    <div class="col-8 mt-3">様々な漫画を集めている人にとっては、役立つ機能になると思います。</div>
    <div class="col-8 my-3">ぜひ利用してみてください。</div>
  </div>
</div>