<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom">
      <h4 class="px-4">My comics</h4>
    </div>
  </div>

  <div class="row justify-content-md-center mt-5" style ="background-color:#f8f8ff">
    <div class="col-3 text-right">My comicsとは</div>
    <div class="col-9">Mycomicsでは、あなたが好きな漫画に出会えます。</div>
    <div class="col-9 offset-3 mt-3">漫画を選ぶうえで他の読者の感想から興味を持つこともあると思います。</div>
    <div class="col-9 offset-3 mt-3">ここでは、自分が好きな漫画を他の読者はどんな感想を持っているか知る事ができます。</div>
  </div>
  <div class="row justify-content-md-center mt-5" style ="background-color:#f8f8ff">
    <div class="col-3 text-right">My本棚について</div>
    <div class="col-9">もう一つの本棚機能として、気に入った漫画又は現在集めている漫画をMy本棚に追加することで、</div>
    <div class="col-9 offset-3 mt-3">持っている巻数や次巻の発売日がすぐに確認できます。</div>
    <div class="col-9 offset-3 mt-3">様々な漫画を集めている人にとっては、役立つ機能になると思います。</div>
    <div class="col-9 offset-3 mt-3">ぜひ利用してみてください。</div>
  </div>
</div>