<div class="container">
  <div class="row justify-content-md-center pt-3" style="height:75px;">
    
    <div class="col-auto">
      <%= link_to "管理者ログイン", admin_top_path %>
    </div>
    
  </div>
</div>